.mainContain {
    border: solid black 5px;
    background-color: rgba(0,0,0,.6);
    padding: 10px;
    margin-top: 10px;
}

a {
  text-decoration: none;

}

.links {
  display: inline-block;
  background-color: rgba(0,0,0,.6);
  padding: 10px;
  border: solid black 2px;
}
